
body {
    font-family: 'Roboto', sans-serif;
}


#game-header {
    background-color: #007bff; 
    color: white;
}


#game-container {
    padding: 20px;
    max-width: 900px;
    margin: auto;
    height: 75vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.table {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


#answer-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.team-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
}


#start-game, #submit-answer {
    border-radius: 5px;
}


#start-game:hover, #submit-answer:hover {
    background-color: #0056b3;
}


.nav-link:hover {
    color: #0056b3;
}


#countdown-timer {
    font-size: 1.5rem;
    color: #dc3545; 
}


#results {
    background-color: #f8f9fa; 
    padding: 20px;
    border-radius: 5px;
    min-height: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


@media (max-width: 576px) {
    #game-container {
        padding: 10px;
        height: auto;
    }
    
    #answer-form {
        flex-direction: column;
    }

    .team-controls {
        flex-direction: column;
    }
}
